#subway_mark,#toLocation {
	position:absolute;
	right:0
}
#subway_mark {
	bottom:22%;
	background-color:rgba(73,73,72,.6);
	border-radius:10px;
	padding:1em
}
.subway_mark_text {
	color:#dfdfdf
}
.subway_mark_title {
	color:#fff;
	font-size:16px
}
.subway_linear_color {
	margin-top:10px;
	height:5px;
	border-radius:2px;
	width:400px;
	background:-webkit-linear-gradient(left,rgb(51,0,255),rgb(92,10,214),rgb(133,20,173),rgb(173,31,133),rgb(214,41,92),rgb(255,51,51))!important;
	background:-moz-linear-gradient(left,rgb(51,0,255),rgb(92,10,214),rgb(133,20,173),rgb(173,31,133),rgb(214,41,92),rgb(255,51,51))!important;
	background:-ms-linear-gradient(left,rgb(51,0,255),rgb(92,10,214),rgb(133,20,173),rgb(173,31,133),rgb(214,41,92),rgb(255,51,51))!important;
	background:-o-linear-gradient(left,rgb(51,0,255),rgb(92,10,214),rgb(133,20,173),rgb(173,31,133),rgb(214,41,92),rgb(255,51,51))!important;
	background:linear-gradient(left,rgb(51,0,255),rgb(92,10,214),rgb(133,20,173),rgb(173,31,133),rgb(214,41,92),rgb(255,51,51))!important
}
.subway_blue,.subway_green,.subway_red,.subway_result_red,.subway_yellow,.text_center {
	text-align:center
}
.subway_color_span {
	margin: 20px;
}